<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website</title>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="popup">
      <form action="" class="login-box">
        <img src="assets/cross-sign.svg" alt="times" class="close" />
        <h1>Create account</h1>
      </form>
    </div>

    <div class="weather">
      <img src="assets/weather.jpeg" alt="weather" />
      <div>
        <p>New Delhi 10°</p>
        <p>Mumbai 28°</p>
        <p>Chennai 32°</p>
      </div>
    </div>

    <div class="vit">
      <img src="assets/vit.png" alt="vit" />
    </div>

    <h1 class="np__name">
      <img src="assets/vice.png" alt="vice" class="vice" />
      The VIT Times
      <img
        src="https://www.freeiconspng.com/uploads/donald-trump-png-7.png"
        alt="trump"
        class="trump"
      />
    </h1>

    <div class="headline__row">
      <div class="headline__col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam iusto
        similique autem et nam suscipit quam maiores asperiores, facilis
        dolorum.
      </div>
      <div class="headline__col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam iusto
        similique autem et nam suscipit quam maiores asperiores, facilis
        dolorum.
      </div>
      <div class="headline__col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam iusto
        similique autem et nam suscipit quam maiores asperiores, facilis
        dolorum.
      </div>
    </div>

    <div class="main__news">
      <div class="main__article">
        <h1>Quick Shorts</h1>

        <br />

        <div>
          <h2>News Heading</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            rerum minima rem sint labore aliquid minus sit, explicabo, obcaecati
            dignissimos corrupti assumenda iure dolor aspernatur quas tempore
            ipsa molestias nam? Eaque pariatur enim doloribus eos est. Doloribus
            laudantium omnis eveniet iusto, quia provident aliquid ratione,
            totam et vero velit tempora optio illum voluptate impedit pariatur
            quas sapiente ipsa. Fugiat, possimus deleniti accusamus officiis
            omnis modi vero nulla, nam ratione debitis explicabo quia distinctio
            incidunt tenetur recusandae cumque quidem vel provident. Odit magni
            cum quidem id nemo natus nam obcaecati officiis temporibus. Cumque
            totam aspernatur voluptatum corrupti est perspiciatis, sapiente
            excepturi.
          </p>
        </div>
        <div>
          <h2>News Heading</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            recusandae perspiciatis inventore voluptas aliquid est suscipit sint
            quae repellat nisi.
          </p>
        </div>
        <div>
          <h2>News Heading</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex iusto
            error fuga eum ullam architecto atque, facere provident aliquid. Vel
            voluptate perspiciatis iste quas animi ab laudantium officia maiores
            provident iure, fugit odio cupiditate ipsam quaerat aspernatur sed
            excepturi. Cupiditate hic vero, quidem delectus eius omnis
            temporibus error fugit sequi magnam laudantium inventore quasi
            dolore, possimus, recusandae vitae ipsa fuga? Recusandae, sed
            veniam. Fuga, totam alias in voluptatum explicabo eaque.
          </p>
        </div>
        <div>
          <h2>News Heading</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In
            recusandae perspiciatis inventore voluptas aliquid est suscipit sint
            quae repellat nisi.
          </p>
        </div>
      </div>
      <div class="main__article">
        <h1>Lorem ipsum dolor sit amet consectetur .</h1>
        <iframe
          src="https://www.youtube.com/embed/21X5lGlDOfg"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>

        <div class="frame__article">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            rerum eum excepturi nesciunt porro, exercitationem voluptates,
            reprehenderit dignissimos aperiam cupiditate commodi, cum saepe?
            Eius, magnam odit! Placeat, repellendus asperiores natus rerum nemo
            corrupti tempora? Totam laborum atque nisi vitae numquam. Lorem
            ipsum dolor sit amet consectetur adipisicing elit.
            <br />
            <br />
            Perspiciatis tempore labore rem inventore mollitia fugit aliquid
            sequi maiores iure dolor illo recusandae repellat dolorem possimus,
            commodi exercitationem nam, tempora doloribus voluptas nesciunt
            ipsum eveniet, itaque repellendus. Facilis, quam tempore doloremque,
            laboriosam sapiente nisi, facere sunt quo natus eius labore aliquam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            ut, doloremque rerum totam ullam itaque ipsa at illum soluta iure
            explicabo, aut culpa temporibus dicta, sint nam incidunt expedita
            vel nobis quo architecto. Porro omnis alias quis sed deleniti vel!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
            nihil earum amet modi impedit officiis consequuntur ducimus et rem
            repellat, exercitationem recusandae rerum enim sit beatae eligendi
            incidunt iusto quasi harum esse quam. Non illo, blanditiis aliquam
            consequuntur ullam explicabo totam, assumenda et nobis dolorum porro
            praesentium in debitis. In.
          </p>
        </div>
      </div>
      <div class="main__article">
        <h1>Tech News</h1>
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="frame__article">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
            rerum eum excepturi nesciunt porro, exercitationem voluptates,
            reprehenderit dignissimos aperiam cupiditate commodi, cum saepe?
            Eius, magnam odit! Placeat, repellendus asperiores natus rerum nemo
            corrupti tempora? Totam laborum atque nisi vitae numquam. Lorem
            ipsum dolor sit amet consectetur adipisicing elit.
            <br />
            <br />
            Perspiciatis tempore labore rem inventore mollitia fugit aliquid
            sequi maiores iure dolor illo recusandae repellat dolorem possimus,
            commodi exercitationem nam, tempora doloribus voluptas nesciunt
            ipsum eveniet, itaque repellendus. Facilis, quam tempore doloremque,
            laboriosam sapiente nisi, facere sunt quo natus eius labore aliquam!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
            ut, doloremque rerum totam ullam itaque ipsa at illum soluta iure
            explicabo, aut culpa temporibus dicta, sint nam incidunt expedita
            vel nobis quo architecto. Porro omnis alias quis sed deleniti vel!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi,
            nihil earum amet modi impedit officiis consequuntur ducimus et rem
            repellat, exercitationem recusandae rerum enim sit beatae eligendi
            incidunt iusto quasi harum esse quam. Non illo, blanditiis aliquam
            consequuntur ullam explicabo totam, assumenda et nobis dolorum porro
            praesentium in debitis. In.
          </p>
        </div>
      </div>
    </div>

    <div class="np__row">
      <div class="np__col">
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="np__col__content">
          <h4>
            News title : Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dicta, odio.
          </h4>
        </div>
      </div>
      <div class="np__col">
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="np__col__content">
          <h4>
            News title : Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dicta, odio.
          </h4>
        </div>
      </div>

      <div class="np__col">
        <img
          src="https://static01.nyt.com/images/2020/03/24/business/24VIRUS-EVENINGNEWS/24VIRUS-EVENINGNEWS-mobileMasterAt3x.png"
          alt="np-img"
        />
        <div class="np__col__content">
          <h4>
            News title : Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Dicta, odio.
          </h4>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer__row">
        <div class="footer__col"></div>
        <div class="footer__col"></div>
        <div class="footer__col"></div>
        <div class="footer__col"></div>
      </div>

      <p class="copyright">Copyright © 2020 | THE VIT TIMES</p>
    </footer>
  </body>
</html>
